* {
  background-color: black;
  color: white;
}

h1 {
  font-size: 35px;
  padding-bottom: 20px;
}

p {
  padding-right: 50%;
  font-size: medium;
}

ol {

  list-style-type: lower-roman;
  font-size: medium;
  padding-left: 30px;;
}

footer {
  margin-top: 50px;
}